[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/cli11"]
	path = external/cli11
	url = https://github.com/CLIUtils/CLI11
[submodule "external/libwolv"]
	path = external/libwolv
	url = https://github.com/WerWolv/libwolv
