[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "external/cli11"]
	path = external/cli11
	url = https://github.com/CLIUtils/CLI11
	ignore = dirty
[submodule "external/libwolv"]
	path = external/libwolv
	url = https://github.com/WerWolv/libwolv
[submodule "external/throwing_ptr"]
	path = external/throwing_ptr
	url = https://github.com/rockdreamer/throwing_ptr
	ignore = dirty
[submodule "lexertl17"]
	path = external/lexertl17
	url = https://github.com/BenHanson/lexertl17.git
